<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.hengam.lib.admin">

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Permissions for datalytics module. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="io.hengam.lib.admin.AdminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="io.hengam.lib.admin.AdminInit"
            android:authorities="${applicationId}.admininitializer"
            android:enabled="true"
            android:exported="false"
            android:initOrder="9" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.hengam.lib.admin.file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name="io.hengam.lib.admin.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:taskAffinity="io.hengam.adminapp.AffinityLog"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:name="io.hengam.lib.admin.analytics.activities.MultipleFrameLayoutActivity"
            android:theme="@style/AnalyticsTheme"/>
        <activity
            android:name="io.hengam.lib.admin.analytics.activities.SimpleActivity"
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:theme="@style/AnalyticsTheme" />
        <activity
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:name="io.hengam.lib.admin.analytics.activities.SimpleActivity2"
            android:theme="@style/AnalyticsTheme"/>
        <activity
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:name="io.hengam.lib.admin.analytics.activities.FragmentActivity"
            android:theme="@style/AnalyticsTheme"/>
        <activity
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:name="io.hengam.lib.admin.analytics.activities.DuplicateFragmentActivity"
            android:theme="@style/AnalyticsTheme"/>
        <activity
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:name="io.hengam.lib.admin.analytics.activities.NestedFragmentsActivity"
            android:theme="@style/AnalyticsTheme" />
        <activity
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:name="io.hengam.lib.admin.analytics.activities.ListViewActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AnalyticsTheme" />
        <activity
            android:name="io.hengam.lib.admin.analytics.activities.ViewPagerActivity"
            android:taskAffinity="io.hengam.adminapp.AffinityAnalyticsTest"
            android:theme="@style/AnalyticsTheme" />

        <activity android:name="io.hengam.lib.admin.ChangelogActivity" />

        <activity android:name="io.hengam.lib.admin.notificationTest.NotificationTestMainActivity"/>
        <activity android:name="io.hengam.lib.admin.notificationTest.NotificationTestQuestionsActivity"/>
        <activity android:name="io.hengam.lib.admin.notificationTest.EmptyActivity"/>
        
        <meta-data
            android:name="hengam_token"
            android:value="io.hengam.adminapp@292417903871" />

        <meta-data
            android:name="hengam_log_collection_url"
            android:value="https://sdklogs.hengam.me" />


    </application>

</manifest>