<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.hengam.lib.notification">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <service android:name="io.hengam.lib.notification.NotificationActionService" />

        <activity
            android:name="io.hengam.lib.notification.ui.PopupDialogActivity"
            android:theme="@style/HengamTransparent"
            android:excludeFromRecents="true">
        </activity>

        <activity android:name="io.hengam.lib.notification.ui.WebViewActivity"/>

        <receiver android:name="io.hengam.lib.notification.ScheduledNotificationReceiver"  android:enabled="true"/>

        <receiver android:name="io.hengam.lib.notification.NotificationAppInstaller$DownloadCompleteReceiver" android:enabled="true" android:exported="false" />
        <receiver android:name="io.hengam.lib.notification.NotificationAppInstaller$DownloadCompleteNotificationClickReceiver" android:enabled="true"  android:exported="false" />

    </application>
</manifest>
